{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/test/**/*.ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "extension": [
    ".ts"
  ],
  "sourceMap": true,
  "instrument": true
}